REACT_APP_API_URL=https://qc-board.onrender.com

MONGO_URI=mongodb+srv://testArcolab:testArcolab@testarcolab.ddnjtlw.mongodb.net/
# MONGO_URI=mongodb://testArcolab:testArcolab@testarcolab-shard-00-00.ddnjtlw.mongodb.net:27017,testArcolab-shard-00-01.ddnjtlw.mongodb.net:27017,testArcolab-shard-00-02.ddnjtlw.mongodb.net:27017/?ssl=true&replicaSet=atlas-13b7h4-shard-0&authSource=admin&retryWrites=true&w=majority
GENERATE_SOURCEMAP=false

JWT_SECRET=my_super_secret_key_123

GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSet3BnTdFPhnlYtQFurTyK01HhbL2kifldCUtJUT7B7w1aRtQ/formResponse
GOOGLE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/1lMRG2n23GSlHGymELXn7HDguAqqOELymMvu71wgq1L8/export?format=csv&gid=0
FORM_ENTRY_EMPID=entry.2144390010
FORM_ENTRY_PROBLEM=entry.1967885243
FORM_ENTRY_SOLUTION=entry.1710292858
FORM_ENTRY_BENEFIT=entry.263303803
FORM_ENTRY_DEPT=entry.96068610 

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mageshedu77@gmail.com
SMTP_PASS=jluu rrha mjfb uydd